.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  width: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.image {
  width: 100px;
  border-radius: 50%;
  height: 100px;
  object-fit: cover;
}
